<!DOCTYPE html>
<html>
<head>
    <title>Emergency Livechat</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
    <link href="/popup.css" rel="stylesheet">

</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">


    </div>
        <div class="row">
            <div class="col-md-12">
                <div id="chatbox-container" class="col-md-8 table-wrapper-scroll-y">

                <table id="conversation" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>What is your emergency?</th>
                    </tr>
                    </thead>
                   <tr> <td> Hi my name is police officer Jones, how can I assist? </td></tr>
                    <tbody id="greetings" class="styling chatbody">

                    </tbody>
                </table>
            </div>
        </div>

            <div id="lower-container" class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-10">
                        <form onsubmit="document.getElementById('text').value= ''">
                            <input type="text" id="text" class="form-control" placeholder="Describe your emergency situation here..." autocomplete="off">
                            <button id="sendbtn" class="btn btn-outline-secondary" type="submit">Send</button>

                        </form>
                    </div>

            </div>

        </div>
</div>
</div>
</body>
</html>