<!DOCTYPE html>
<html>

<head>
    <title>Choose Category</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <header class="navbar navbar-light fixed-top" id="navBarColor">
        <div id="navBarLogo"><a style="margin-right: 5%" href="/">&#8678;</a>
            <span style="margin-right: 5%">Choose category (Step 1/2)</span>
        </div>
        <img src="logoWithNameWhite.png" width="65px" height="20px" alt="logo" margin-right="0">
    </header>

    <div class="container-fluid" id="main-app">

        <div class="logo-main-container">
            <img class="logo-main-container" src="nameAndLogo2.png" alt="logo">
        </div>

        <p class="chooseCategoryText">I want to report a suspicious:</p>
        <div id="buttonDiv">
            <a href="/ObjectForm">
                <button type="submit" class="btn  btn-secondary btn-lg btn-block"
                    style="background-color: #434343e3">Object</button> </a>
        </div>

        <div id="buttonDiv">
            <a href="/PersonForm">
                <button type="submit" class="btn btn-secondary btn-lg btn-block"
                    style="background-color: #434343e3">Person</button> </a>
        </div>

        <div id="buttonDiv">
            <a href="/ActivityForm">
                <button type="submit" class="btn btn-secondary btn-lg btn-block"
                    style="background-color: #434343e3">Activity</button> </a>
        </div>
        <footer class="footer-choosecat">
            <div class="card-footer text-muted mx-auto">
                <a href="#">Terms & Conditions</a>
            </div>
        </footer>
    </div>



    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>