<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Persons</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaDSEXBIq9OvQbY9CyAHJ8zpVsSaIcvtM&libraries=places"></script>
    <script src="https://www.google.com/recaptcha/api.js?hl=en" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <header class="navbar navbar-light fixed-top" id="navBarColor">
        <div id="navBarLogo"><a style="margin-right: 5%" href="/ChooseCategory">&#8678;</a>
            <span style="margin-right: 5%">Describe event (Step 2/2)</span>
        </div>
        <img src="logoWithNameWhite.png" width="65px" height="20px" alt="logo" margin-right="0">
    </header>

    <div class="container-fluid" id="main-app">

        <div class="col-md-4">

            <form name="PersonForm" method="POST" action="/form" onsubmit="return submitUserForm();"
                th:object="${suspicions}">

                <input type="hidden" name="category_of_suspicion" placeholder="Activity"
                    th:field="*{category_of_suspicion}">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Type of suspicious person</label>
                    <select class="form-control" id="exampleFormControlSelect1" th:field="*{type_of_suspicion}">
                        <option value="--Select--">--Select--</option>
                        <option value="Extremist">Extremist</option>
                        <option value="Gang member"> gang member</option>
                        <option value="Consumer of prostitution"> prostitution</option>
                        <option value="Irregular behaviour"> irregular behavior </option>
                        <option value="Child abuse"> child abuse</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Add some details (optional)</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="textbox"
                        th:field="*{details}"></textarea>
                </div>
                <div class="form-group">
                    <a href="#" id="upload" th:field="*{media}">Upload an image</a>
                </div>

                <input type="checkbox" id="botCheck" name="bot" value="bot" th:field="*{type_of_suspicion}">

                <div class="form-group">
                    <label for="location">Choose location (current location by default)</label>
                    <input type="text" autocomplete="on" class="form-control" id="location" rows="1"
                        placeholder="Enter address here or choose current location below" runat="server" name="location"
                        th:field="*{address}" />
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#exampleModalScrollable">
                        Choose from map
                    </button>

                    <input type="hidden" id="latitude" name="latitude" th:field="*{latitude}">
                    <input type="hidden" id="longitude" name="longitude" th:field="*{longitude}">
                    <input type="hidden" id="date" name="date1" th:field="*{date1}">
                    <input type="hidden" id="time" name="time1" th:field="*{time1}">


                </div>


                <!-- Modal -->
                <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalScrollableTitle">Choose the location of the
                                    suspicion</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <!--Google map-->
                                <div id="map-container-google-1" class="z-depth-1-half map-container"
                                    style="height: 500px">
                                    <div id="map" style="height:500px; width:500px;"></div>
                                </div>
                                <!--Google Maps-->

                            </div>
                            <div class="modal-footer">
                                <button onClick="update()" type="button" class="btn btn-secondary">Get current
                                    position</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="6LdfyJkUAAAAAGmywYQj-WufvMuZEsyg_xldYzOn"
                        data-badge="bottomleft" data-callback="verifyCaptcha"></div>
                    <div id="g-recaptcha-error"></div>
                </div>

                <!-- Button trigger modal -->
                <button type="submit" class="btn btn-secondary">Submit</button>

                <!-- Modal -->
                <!--<div class="modal fade" tabindex="-1" role="dialog" id="myModal">-->
                <!--<div class="modal-dialog" role="document">-->
                <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
                <!--aria-hidden="true">&times;</span></button>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                <!--<p>Thank you for submitting a tip! <a href="home.html">To home page</a></p>-->
                <!--</div>-->
                <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
                <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
                <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->
            </form>
        </div>
    </div>
    <footer class="footer">
        <div class="card-footer text-muted mx-auto">
            <a href="#">Terms & Conditions</a>
        </div>
    </footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="script.js"></script>
</body>

</html>